body,html {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

body {
    max-height: 100vh;
    min-height: 100vh;
    font-size: 20px;
}

.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.v-center-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.v-center-space-b-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.h-center-flex {
    display: flex;
    justify-content: center;
}

.h-space-a-flex {
    display: flex;
    justify-content: space-around;
}

.today-gif {
    min-width: 420px;
    max-width: 420px;
    min-height: 210px;
    max-height: 210px;
}

.next-day-gif {
    min-width: 180px;
    max-width: 180px;
    min-height: 90px;
    max-height: 90px;
}

.weather-cont {
    background-color: #FFF6E9;
    border: 3px solid #BBE2EC;
    min-width: 720px;
    max-width: 720px;
    min-height: 100vh;
    max-height: 100vh;
}

.location-cont {
    background-color: #FFF3CF;
    padding: 7px;
}

.input-location {
    min-height: 42px;
    max-height: 20px;
    max-width: 300px;
    min-width: 300px;
    margin-right: 10px;
    font-size: 24px;
}

.location-btn {
    background-color: #5E5BFF;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 17px;
    cursor: pointer;
}


.today-display {
    padding: 30px;
    background-color: #FFF3CF;
    max-width: 480px;
    min-width: 480px;
}

.data-cont {
    width: 420px;
    margin-top: 30px;
}

.next-days-cont {
    padding: 30px;
    max-width: 480px;
    min-width: 480px;
    background-color: #FFF3CF;
}

.nextday-cont > span {
    margin: 10px;
}